<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-user"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Error 404 🐱🚪</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="orange-bar"></div>

  <div class="container">
    <h1 class="error-title">Error 404</h1>
    <h2> Página no encontrada </h2>
    <img src="assets/images/gato-404.gif" alt="Imagen de error 404" class="error-image" />
    <p class="error-description">
      ¡El gato ha cerrado la puerta y no tiene intenciones de abrirla!
    </p>
  </div>
</ion-content>

<ion-footer>
  <div class="orange-bar"></div>
  <ion-toolbar class="footer-toolbar">
    <ion-title size="large" class="footer-title ion-text-center">Crafted by CodeCrafters</ion-title>
  </ion-toolbar>
</ion-footer>