/* #FFCD00;  Amarillo DUOC */
/* #002855;  Azul oscuro DUOC */

* {
  font-family: 'Montserrat', sans-serif;
}

/* Estilo personalizado para el toolbar del header */
.header-toolbar {
    --background: #002855;
}

/* Estilo personalizado para el título en el header */
.header-title {
    color: #FFCD00; 
    font-size: 16px;
}

/* Fondo blanco para el contenido */
ion-content {
    --background: #ffffff;
  }
  
  /* Estilo para centrar el contenido en el centro */
  .login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Estilo para el logo */
  .login-logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Estilo para el título de la aplicación */
  .login-title {
    font-size: 24px;
    color: #002855; 
    margin-bottom: 20px;
  }
  
  /* Estilo para la lista y los items */
  .login-list {
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .login-item {
    --background: #ffffff; 
    --color: #002855; 
    margin-bottom: 10px;
  }
  
  /* Estilo para los botones */
  ion-button {
    margin-top: 12px;
    --background: #FFCD00;
    --color: #002855; 
    font-size: 16px;
    font-weight:bold;
    transition: transform 0.2s ease;
  }

  ion-button:active {
    transform: scale(0.95);
  }
  
  /* Estilo personalizado para el toolbar del footer */
  .footer-toolbar {
    --background: #002855; 
  }
  
  /* Estilo personalizado para el título en el footer */
  .footer-title {
    color: #FFCD00;
    font-size: 16px;
  }
  