/* #FFCD00;  Amarillo DUOC */
/* #002855;  Azul oscuro DUOC */

* {
  font-family: 'Montserrat', sans-serif;
}

/* Fondo blanco para el contenido */
ion-content {
  --background: #ffffff;
}

.main-title, .login-title{
  font-size: 1rem;
  margin-bottom: 2rem;
}

.div-title{
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

/* Estilo para centrar el contenido en el centro */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilo para el logo */
.login-logo {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para el título de la aplicación */
.login-title {
  font-size: 28px;
  color: #002855;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Estilo para los mensajes de bienvenida */
.welcome-message {
  font-size: 16px;
  color: #002855;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* Estilo para la imagen del QR */
.qr-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para la sección de beneficios */
.benefits-section {
  font-size: 16px;
  color: #002855;
  padding-left: 20px;
  padding-right: 20px;
}

.benefits-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.benefits-section ul {
  list-style-type: none;
  padding: 0;
}

.benefits-section li {
  margin-bottom: 5px;
}

/* Estilo para los botones */
ion-button {
  margin-top: 12px;
  --background: #FFCD00;
  --color: #002855;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

ion-button:active {
  transform: scale(0.95);
}

/* Estilo personalizado para el toolbar del footer */
.footer-toolbar {
  --background: #002855;
}

/* Estilo personalizado para el título en el footer */
.footer-title {
  color: #FFCD00;
  font-size: 16px;
}
