<ion-header></ion-header>

<ion-content class="ion-padding ion-text-center login-content">
  <ion-img src="assets/images/logo.png" class="login-logo"></ion-img>
  
  <ion-title class="login-title">
    <h1>Bienvenido a [Nombre de la App]</h1>
  </ion-title>
  
  <p class="welcome-message">
    ¡Gracias por ser parte de nuestra comunidad en Duoc! Con esta aplicación, podrás registrar tu asistencia de forma rápida y sencilla mediante un código QR, directamente en tus clases. Olvídate del papeleo y mantén un registro automático de tus asistencias.
  </p>
  
  <p class="welcome-message">
    Escanea el código QR generado por tu profesor durante la clase para validar tu asistencia. Tu historial de asistencias quedará registrado automáticamente para futuras consultas.
  </p>
  
  <p class="welcome-message">
    ¡Haz clic en el botón a continuación para iniciar sesión y comenzar a utilizar [Nombre de la App]!
  </p>
  
  <ion-button expand="block" (click)="redirect()">Iniciar Sesión</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-title size="large" class="footer-title ion-text-center">Crafted by CodeCrafters</ion-title>
  </ion-toolbar>
</ion-footer>
