* {
  font-family: 'Montserrat', sans-serif;
}

/* Estilo personalizado para el toolbar del header */
.header-toolbar {
  --background: #002855;
}

/* Estilo personalizado para el título en el header */
.header-title {
  color: #FFCD00;
  font-size: 16px;
}

ion-content {
  --background: #fff;
}

#course-img{
  height: 16rem;
  position: relative;
  left: 2rem;
}


.footer-toolbar {
  --background: #002855;
}


.footer-title {
  color: #FFCD00;
  font-size: 16px;
}


ion-fab-button {
  --border-radius: 50%; /* Asegura que el botón sea completamente redondo */
  --width: 70px; /* Tamaño del botón */
  --height: 70px;
  --color: #FFCD00;
  --background: #002855;
}

.qr-box {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.qr-box ion-icon {
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 3.5rem;
  padding: 0.6rem;
  color: #FFCD00;
  background-color: #002855;
}
.qr-box button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.qr-box button:hover {
  background-color: #004080; /* Cambia el color cuando el botón se pasa por encima */
}
