
* {
  font-family: 'Montserrat', sans-serif;
}

/* Estilo personalizado para el toolbar del header */
.header-toolbar {
  --background: #002855;
}

/* Estilo personalizado para el título en el header */
.header-title {
  color: #FFCD00; 
  font-size: 16px;
}

ion-content {
  --background: #fff;
}

#course-img{
  height: 18rem;
  position: relative;
  left: 1.3rem;
}


.footer-toolbar {
  --background: #002855;
}


.footer-title {
  color: #FFCD00;
  font-size: 16px;
}


ion-fab-button {
  --border-radius: 50%; /* Asegura que el botón sea completamente redondo */
  --width: 70px; /* Tamaño del botón */
  --height: 70px;
  --color: #FFCD00;
  --background: #002855;
}


