/* #FFCD00;  Amarillo DUOC */
/* #002855;  Azul oscuro DUOC */

* {
  font-family: 'Montserrat', sans-serif;
}

/* Fondo blanco para el contenido */
ion-content {
  --background: #fff;
}

/* Estilo para el logo */
.login-logo {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  font-size: 24px;
  color: #002855;
  margin-bottom: 20px;
  border: #002855;
}

.highlight-title {
  font-size: 2.5rem; 
  color: #FFCA28;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* Estilo para la lista y los items */
.courses-list{
  background-color: #002855;
}

/* Estilo para los botones */
ion-button {
  margin-top: 12px;
  --background: #FFCD00;
  --color: #002855;
  font-size: 16px;
  font-weight:bold;
  transition: transform 0.2s ease;
}

ion-button:active {
  transform: scale(0.95);
}

/* Estilo personalizado para el toolbar del footer */
.footer-toolbar {
  --background: #002855;
}

/* Estilo personalizado para el título en el footer */
.footer-title {
  color: #FFCD00;
  font-size: 16px;
}

