<ion-header></ion-header>

<ion-content class="ion-padding ion-text-center login-content">

  <ion-title class="login-title">
    <h1 class="highlight-title">Rollcall QR</h1>
  </ion-title>

  <p class="welcome-message">
    <strong>Bienvenido: </strong> {{ email || 'Default' }}
  </p>
  <p>{{courses[0].title}}</p>
  <hr>

  <ion-list class="courses-list">
    <ion-item style="background-color: aqua;" *ngFor="let signature of courses" [routerLink]="['/home-user', signature.id]">
      <ion-avatar slot="start">
        <ion-img [src]="signature.imageURL"></ion-img>
      </ion-avatar>
        <ion-label>
          {{signature.title}}
        </ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="logout()">Cerrar Sesión</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-title size="large" class="footer-title ion-text-center">Crafted by CodeCrafters</ion-title>
  </ion-toolbar>
</ion-footer>
